# Smart Medicine Dispenser Dashboard Config
# Copy this to a new file named .env for local use
# Or set these variables in your Cloud Hosting dashboard (Render/Railway)

PORT=3000
# Example MongoDB Atlas URI:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/medicine_dashboard
MONGO_URI=mongodb://localhost:27017/medicine_dispenser
